.container {
    padding: 2%;
    margin: auto;
}

.googlePreview {
    border: 1px solid #ddd;
    border-radius: 15px;
    width: 100%;
    padding: 10px;
    margin: 2% auto;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.googlePreviewText {
    width: 100%;
    text-align: left;
}

.googlePreviewCard {
    margin-top: 10px;
}

.previewLink {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.googlePreviewTitle {
    color: #1A0EAB;
    font-size: large;
    margin-top: 10px;
}

.googlePreviewDescription {
    color: #4d5156;
    margin-top: 5px;
}

.googleImage {
    max-width: 25vh;
    max-height: 25vh;
    border-radius: 15px;
    margin-top: 10px;
}

.quillEditor {
    margin-top: 20px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1%;
    width: 100%;
}
.submitButton{
    margin: 1% auto;
}
/* Mobile Styles */
@media (max-width: 767px) {
    .googlePreview {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .buttons {
        flex-direction: column;
        gap: 10px;
        margin-bottom: 2%;
    }

    .googlePreviewTitle, .googlePreviewDescription {
        text-align: center;
        margin-left: 0;
    }
}

/* Tablet and Up */
@media (min-width: 768px) {
    
    
    .googlePreview {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .buttons {
        margin-bottom: 5%;
    }
}
